body {
    padding: 0px;
    margin: 0px;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333333;
    color: white;
    
}
